*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	font-family: "微软雅黑", "Microsoft Yahei";
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: black;
}
h1, h2, h3, h3, h4, h5, h6 {
    font-weight: normal;
}