/*图片背景部分*/
.np-out{
	overflow: hidden;
    background-position: center 0;
    background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	position: relative;
	background: url(../../image/np-image/np-jing.jpg)no-repeat center center/cover;
}
.np-bgg{
	background: url(../../image/np-image/download.png) center top no-repeat;
    height: 54px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 340px;
    z-index: 60;
}
.np-container {
	width: 100%;
	overflow: hidden;
}
footer .mapBot .np-siteMap{
	margin-top: -40px;
}
@media screen and (max-width: 415px) {
	.np-bg{
		display: none;
	}
	.np-out{
		display: none;
	}
}
@media screen and (max-width: 768px) {
	.np-bg{
		display: none;
	}
	
	/*底部响应修改*/
	footer .mapBot .np-mapA{
		margin-bottom: 0px;
		height: auto;
	}
	
}
@media screen and (max-width: 1024px) {
	.np-bg{
		 top: 340px;
	}
}
/*图片背景部分*/
.np-imgs{
	width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.np-imgs a{
	color: #999;
}

.np-imgs .np-tit-i{
	text-align: center;
    padding: 50px 0 8px;
    line-height: 36px;
    overflow: hidden;
}
.np-imgs .np-tit-i h3 {
    font-size: 30px;
    color: #002;
    margin-bottom: 10px;
}
.np-imgs .np-tit-i h5 {
    font-size: 20px;
    color: #cacace;
    text-transform: uppercase;
    font-family: Arial;
}
.np-imgs .np-tit-i h5 span {
    color: #e4392a;
}
.np-sub {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}
.np-sub ul li{
	display: inline-block;
    margin: 0 18px;
    font-size: 16px;
}
.np-sub  ul li a {
    padding-left: 14px;
    display: inline-block;
}
.np-list{
	margin: 0 -15px;
}
.np-list li {
    float: left;
    width: 25%;
    margin-bottom: 30px;
    min-height: 362px;
}
.np-list li .np-pad {
    padding: 0 13px;
}
.np-list li .np-pad .np-pic img {
    width: 100%;
    display: block;
    zoom: 1;
}
.np-list li .np-bor {
    border: 1px solid #e2e3e8;
   box-sizing: initial;
}
.np-list li .np-txt {
    padding: 20px 14px;
    line-height: 20px;
    color: #666;
}
.np-list li .np-txt a p{
	display: block;
    font-size: 12px;
} 
.np-list li .np-title {
    height: 55px;
    margin-bottom: 20px;
}
.np-list li .np-title span {
    float: left;
    border: 1px solid #e2e3e8;
    background-color: #f0f2f5;
    display: inline-block;
    text-align: center;
    padding: 6px 5px;
    margin-right: 15px;
}
.np-list li .np-title span em {
    display: block;
    font-size: 16px;
}
.np-list li .np-title h3 {
    border-bottom: 1px solid #e2e3e8;
    overflow: hidden;
    height: 54px;
}
.np-list li .np-title h3 a b{
	font-size: 14px;
}

.np-list li .np-more {
    height: 42px;
    line-height: 42px;
    border-top: 1px dotted #e2e3e8;
    background-color: #f0f2f5;
    padding: 0 14px;
    display: none;
}
.np-list li .np-more a {
    color: #e4392a;
}


/*分页效果*/
.np-pagess {
    clear: both;
    height: 30px;
    margin: 20px 20px 34px 20px;
    overflow: hidden;
    margin-left: 0px;
    text-align: center;
    
}
.np-pagess ul li {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2px 9px;
    margin: 0 3px;
    line-height: 20px;
    background: #fff;
    color: #999;
}
.np-pagess ul li a {
    display: block;
    color: #999;
    font-size: 12px;
}
/*注意:地图和联系方式引用自gy-index.css*/